/* **************************** */
/* GENERAL STYLES */
/* **************************** */
body {
  text-align: center;
}
h3 {
  text-transform: uppercase;
}

/* **************************** */
/* STYLES FOR HEADER */
/* **************************** */
header {
/*  */
}
.welcome {
  background-image: url(https://i.imgur.com/gP7WEs9.jpg);
  padding: 400px 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  color: #eee;
  text-shadow: 2px 2px 4px #111;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* **************************** */
/* STYLES FOR SKILLS */
/* **************************** */

.skills>h3 {
  text-align: center;
  padding-bottom: 20px;
}

/* **************************** */
/* STYLES FOR EXPERIENCE */
/* **************************** */
.experience {
  padding: 50px;
  text-align: left;
}

.experience > h3 {
  text-align: center;
  padding-bottom: 20px;
}

/* **************************** */
/* STYLES FOR FOOTER */
/* **************************** */
footer {
  /* background-image: url(https://i.imgur.com/j0XWBXx.jpg); */
  border-top: 3px solid #666;
  background: linear-gradient(#999, #fff 10%);
  /* background: linear-gradient(#999, #fff 10%, #fff 90%, #999); */
  padding: 20px 0;
  
}
.contact {
  display: block;
  padding: 10px;
}