@import url('https://fonts.googleapis.com/css?family=Domine|Lato:300,400,900|Open+Sans+Condensed:300');

body,
html {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  /* font-family: 'Domine', serif; */
}

h1 {
  font-size: 10em;
  margin: 0;
  color: #eee;
  text-shadow: 2px 2px 4px #111;
  font-family: 'Domine', serif;
}

h2 {
  text-transform: uppercase;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-size: 4em;
  color: #eee;
  text-shadow: 2px 2px 4px #111;
}

h3 {
  text-transform: uppercase;
  font-family: 'Domine', serif;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-size: 3.5em;
  font-weight: 900;
}

h5 {
  text-align: left;
}

h6 {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
}

p {
  font-size: 1.3em;
  text-align: left;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}

#top {
    padding: 200px 0;
}

#top > p {
   font-size: 1em;
   color: #eee;
   text-shadow: 2px 2px 4px #111;
   text-align: center;
   /* padding-top: 100px; */
}
/* **************************** */
/* STYLES FOR ABOUT */
/* **************************** */
#about {
  padding: 50px;
}

#me {
  width: 200px;
  height: auto;
  padding-top: 25px;
}
/* 
#meText> p {
  font-size: 12em;
} */

/* **************************** */
/* STYLES FOR SKILLS */
/* **************************** */
#skills {
  padding: 50px;
}

#skills>h3 {
  padding-bottom: 20px;
}

/* **************************** */
/* STYLES FOR PROJECTS */
/* **************************** */

#projects {
  padding: 50px;
}

#projects>h3 {
  padding-bottom: 20px;
}

.projectInfo > p {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

.projectInfo>h4 {
  font-family: 'Domine', serif;

}
/* **************************** */
/* STYLES FOR EXPERIENCE */
/* **************************** */
#experience {
  padding: 50px;
  /* text-align: left; */
}

.col-12>h4 {
  text-align: left;
  font-weight: 400;
}

#experience > h3 {
  text-align: center;
  padding-bottom: 20px;
}

.row {
  padding-bottom: 50px;
}

/* **************************** */
/* STYLES FOR Parallax effect */
/* **************************** */
.parallax {
    /* The image used */
    background-image: url(../../images/dalton.jpg);
    /* filter: grayscale(100%); */
    /* background-image: url('img_parallax.jpg'); */
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url(../../images/arch.jpg);
    /* filter: grayscale(100%); */
    /* background-image: url('img_parallax.jpg'); */
    /* Full height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url(../../images/NZroad.JPG);
    /* filter: grayscale(100%); */
    /* background-image: url('img_parallax.jpg'); */
    /* Full height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4 {
    /* The image used */
    background-image: url(../../images/italy.jpg);
    /* filter: grayscale(100%); */
    /* background-image: url('img_parallax.jpg'); */
    /* Full height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax5 {
    /* The image used */
    background-image: url(../../images/kaikoura.JPG);
    /* filter: grayscale(100%); */
    /* background-image: url('img_parallax.jpg'); */
    /* Full height */
    height: 60%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* **************************** */
/* STYLES FOR FOOTER */
/* **************************** */
footer {
  background: linear-gradient(#999, #fff 10%);
  padding: 20px 0;
  font-weight: 900;
}

footer > h4 {
  font-size: 2em;
}

.contact {
  display: block;
  padding: 10px;
}

/* **************************** */
/* STYLES FOR PROJECT DISPLAY*/
/* **************************** */
/* #projects {
    padding: 10%;
} */

#tictactoe {
  background-image: url(../../images/tictactoe.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#bucketlist {
  background-image: url(../../images/bucketlist.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#randomplace {
  background-image: url(../../images/randomplace.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#nozama {
  background-image: url(../../images/nozama.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#noteit {
  background-image: url(../../images/noteit.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#extra {
  background-image: url(../../images/extra.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  background-color: rgba(7, 7, 7, 0.6);
  background-blend-mode: darken;
}

.projectInfo {
  opacity: 0;
  transition: all 0.5s;
  color: #eee;
  text-shadow: 2px 2px 4px #111;
  padding: 2em;
  text-align: center;

}

#tictactoe:hover .projectInfo {
  opacity: 1;
}

#tictactoe:hover {
  background: #111;
}

#bucketlist:hover .projectInfo {
  opacity: 1;
}

#bucketlist:hover {
  background: #111;
}


#randomplace:hover .projectInfo {
  opacity: 1;
}

#randomplace:hover {
  background: #111;
}

#nozama:hover .projectInfo {
  opacity: 1;
}

#nozama:hover {
  background: #111;
}

#noteit:hover .projectInfo {
  opacity: 1;
}

#noteit:hover {
  background: #111;
}

.projectExtra {
  text-align: center;
  color: #eee;
  text-shadow: 2px 2px 4px #111;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  /* text-transform: uppercase; */
  font-family: 'Domine', serif;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
   #top {
       padding: 30px;
   }
   h1 {
        font-size: 5em;
        padding-top: 100px;
        padding-bottom: 50px;
   }
   h2 {
       font-size: 2em;
   }
   h3 {
       font-size: 2em;
   }
   .col-4>h4 {
     font-size: 1em;
   }
   h6 {
     font-size: 1em;
   }
   p {
     font-size: 0.9em;
   }
   .parallax {
     background-attachment: initial;
   }
   .parallax2 {
     background-attachment: initial;
   }
   .parallax3 {
     background-attachment: initial;
   }
   .parallax4 {
     background-attachment: initial;
   }
   .parallax5 {
     background-attachment: initial;
   }
}