body,
html {
    height: 100%;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 10em;
    margin: 0;
    color: #eee;
    text-shadow: 2px 2px 4px #111;
}

h2 {
    text-transform: uppercase;
    font-size: 4em;
    color: #eee;
    text-shadow: 2px 2px 4px #111;
}

h3 {
    text-transform: uppercase;
    font-size: 3.5em;
}

p {
  font-size: 1.5em;
}

#top {
    padding: 200px 0;
}

#top > p {
   font-size: 1em;
   color: #eee;
   text-shadow: 2px 2px 4px #111;
   text-align: center;
   /* padding-top: 100px; */
}
/* **************************** */
/* STYLES FOR ABOUT */
/* **************************** */
#about {
  padding: 50px;
}

/* **************************** */
/* STYLES FOR SKILLS */
/* **************************** */
#skills {
  padding: 50px;
}

#skills>h3 {
  padding-bottom: 20px;
}

/* **************************** */
/* STYLES FOR PROJECTS */
/* **************************** */

#projects {
  padding: 50px;
}

#projects>h3 {
  padding-bottom: 20px;
}

/* **************************** */
/* STYLES FOR EXPERIENCE */
/* **************************** */
#experience {
  padding: 50px;
  /* text-align: left; */
}
h5 {
  text-align: left;
}
.col-12>h4 {
    text-align: left;
}

#experience > h3 {
  text-align: center;
  padding-bottom: 20px;
}

.col-12>p {
  margin-bottom: 5em;
  text-align: left;
}

/* **************************** */
/* STYLES FOR Parallax effect */
/* **************************** */
.parallax {
  /* The image used */
  background-image: url(../../images/dalton.jpg);
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url(../../images/kaikoura.JPG);
  /* Full height */
  height: 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url(../../images/NZroad.JPG);
  /* Full height */
  height: 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax4 {
  /* The image used */
  background-image: url(../../images/alaska.jpg);
  /* filter: grayscale(100%); */
  /* background-image: url('img_parallax.jpg'); */
  /* Full height */
  height: 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.parallax5 {
  /* The image used */
  background-image: url(../../images/bear.jpg);
  /* filter: grayscale(100%); */
  /* background-image: url('img_parallax.jpg'); */
  /* Full height */
  height: 60%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* **************************** */
/* STYLES FOR FOOTER */
/* **************************** */
footer {
  /* background-image: url(https://i.imgur.com/j0XWBXx.jpg); */
  /* border-top: 3px solid #666; */
  background: linear-gradient(#999, #fff 10%);
  /* background: linear-gradient(#999, #fff 10%, #fff 90%, #999); */
  padding: 20px 0;
  
}
.contact {
  display: block;
  padding: 10px;
}

/* **************************** */
/* STYLES FOR PROJECT DISPLAY*/
/* **************************** */
#projects {
    padding: 10%;
}

#tictactoe {
  background-image: url(../../images/tictactoe.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

#bucketlist {
  background-image: url(../../images/bucketlist.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

.projectInfo {
  opacity: 0;
  transition: all 0.5s;
  color: #eee;
  text-shadow: 2px 2px 4px #111;
  padding: 3em;
  text-align: center;

}

#tictactoe:hover .projectInfo {
  opacity: 1;
}

#tictactoe:hover {
  background: #111;
}

#bucketlist:hover .projectInfo {
  opacity: 1;
}

#bucketlist:hover {
  background: #111;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
   #top {
       padding: 30px;
   }
   h1 {
        font-size: 5em;
        padding-top: 100px;
        padding-bottom: 50px;
   }
   h2 {
       font-size: 2em;
   }
   h3 {
       font-size: 2em;
   }
   .parallax {
     background-attachment: scroll;
   }
   .parallax2 {
     background-attachment: scroll;
   }
   .parallax {
     background-attachment: scroll;
   }
   .parallax {
     background-attachment: scroll;
   }
   .parallax {
     background-attachment: scroll;
   }
}